
body{
   
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body,html{
    overflow-x: hidden;
    /* overflow-y: hidden; */
     background-color: #f0f8f0; /* Light green Islamic background */
            color: #2c3e50;
    
}

header{
    background-color: #34495e; /* Dark blue header */
            color: white;
}
i{
  
    font-size: 30px;
    margin: auto;
    color: goldenrod ;
    
    
}
p{
    color: black;

    font-family: 'Times New Roman', serif;
    direction: rtl;


}
h2{
    
    font-family: 'Times New Roman', serif;
    direction: rtl;
    color: #27ae60;
}

h3{
    
    font-family: 'Times New Roman', serif;
    direction: rtl;
}
a{
    text-decoration: none;
}

.card{
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color:  white ;

    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    
}
   .hadith-card {
        position: relative;
        border-radius: 25px;
        background-color: white;
        color: #fff;
        padding: 40px 20px;
        margin: 30px 0;
        text-align: left;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      
        overflow: hidden;
    }

    .card-title {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }
      .hadith-list {
        font-size: 1.5rem;
        line-height: 1.6;
 color: #27ae60;
 font-weight: bolder;
        padding-left: 20px;
    }

    .hadith-list li {
        margin-bottom: 10px;
    }
      .paper {
        position: absolute;
        top: -20px;
        width: 8px;
        height: 8px;
        background-color: #fff8c6; /* soft yellow, can vary */
        opacity: 0.9;
        animation: fall linear infinite;
    }

    @keyframes fall {
        0% { transform: translateY(0) rotate(0deg); opacity: 0.9;}
        100% { transform: translateY(120vh) rotate(360deg); opacity: 0.3;}
    }
.class1{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;

}
